
<div class="container">
  <div class="users_heading">
    <h1>My CashApp</h1>
    <h2> <%= @user.email%> </h2>
  </div>
  <div class="users_main">
    <ul class="users_deposit">
      <li class="users_deposit_list">
      <i class="fas fa-donate me-2 p-2 rounded-circle border border-white text-white square"></i>
        <%= link_to 'All My Deposit', deposits_path, class:'text-white text-decoration-none apex' %>
      </li>
      <li class="users_deposit_list">
       <i class="fas fa-money-bill me-2 p-2 rounded-circle border border-white text-white square"></i>
        <%= link_to 'All My External Deposit', grouped_payments_path, class:'text-white text-decoration-none apex'%>
      </li>
      <li class="users_deposit_list">
      <i class="fas fa-tags me-2 p-2 rounded-circle border border-white text-white square"></i>
        <%= link_to 'All Groups', groups_path, class:'text-white text-decoration-none apex' %>
      </li>
    </ul>
  </div>
</div>