// Place all the styles related to the deposits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// .deposit_container {
//   background-color: #fff;
// }
.deposit_head {
  text-align: center;
  // margin-left: 40px;
  font-size: 1.5rem;
}

.deposit_title {
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: space-between;
}

.left {
  color: #f0f1f2;
}

.right {
  // color: #505357;
}